/* Element styles */

body{
    background-color: #222221;
    min-height: 100vh;
    width: auto;
    
    color: #F0E7D5;
}
footer{
    background-color: black;
    color: grey;
    
}
ul {
    list-style-type: none;
  }
h1{
    color: #E8E8E8;
}
h4{
    color: #FFCC00;
}

/* ***** HOME PAGE  ******* */

.featured-blog{
    margin-top: 45px;
    margin-bottom: 60px;
    color: #F0E7D5;
}

.featured-blog a{
    color: #FFCC00;
    text-decoration: none;
}
.featured-blog h2{
    padding-top: 10px;
    color: #FFCC00;

}
.resume-container{
    color: #F0E7D5;
    margin-top: auto;
}
.resume-container a{
    text-decoration: none;
    color: #FFCC00;
}
.resume a{
    color: #F0E7D5;
    text-decoration: none;
    font-size: 25px;
}

/*********************** Project Cards************/
.card{
    background-color: #222221;
    color: #F0E7D5;
}
.card-body{
    background-color: #222221;
}

/* ********************** Drop Down ****************** */

.dropdown-menu{
    background-color: #222221;
    
}
.dropdown-item:hover{
    background-color: #FFCC00;
}

.dropdown-item {
    color: #E8E8E8;
}



/* ***********Links********** */
.nav-link{
    color: #F0E7D5;
}

.nav-link:hover {
    color: #FFCC00;
}

.card-link {
    color: #FFCC00;
}

/*  ********************* Blog ****************/

.page-title a{
    text-decoration: none;
    color: #FFCC00;
}

.page-title a:hover{
    color: #F0E7D5;
}
