<nav class="container my-5">
    <h1 class="fw-bold text-center">Rae Watkins</h1>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>                  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">About</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="past.html">Where I've Been</a></li>
          <li><a class="dropdown-item" href="present.html">Where I Am Now</a></li>
          <li><a class="dropdown-item" href="future.html">Where I am Going</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Projects</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="portfolio.html">Portfolio</a></li>
          <li><a class="dropdown-item" href="sideprojects.html">Side Projects</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Blog2.html">Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Contact</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://www.linkedin.com/in/raewatkins53535/">LinkedIn</a></li>
          <li><a class="dropdown-item" href="contact.html">Email</a></li>
        </ul>
      </li>
    </ul>
    
</nav>